*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Josefin Sans', sans-serif;
}

:root{
    --bg-color: #EBE3CC;
    --text-color: #062D3E;
    --main-color: #FFFFFF;
}

body{
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
}


/**header css**/
header{
    position: fixed;
    width: 100%;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 10px 12%;
    transition: all .50s ease;
    background: #189CAB;
    box-shadow: 0 0 5px #EBE3CC;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 70px;
    height: 70px;
}

.logo span{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 600;
}

.navbar{
    display: flex;
}

.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}

.navbar a:hover{
    color: var(--main-color);
}

.navbar .nav-active{
    color: #FFFFFF;
}

.main{
    display: flex;
    align-items: center;
}

.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: #FFFFFF;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #FFFFFF;
    padding: 10px;
}

.usser{
    display: flex;
    align-items: center;
}

.usser i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}

.main a:hover{
    color: var(--main-color);
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}

/**seccion**/
section{
    padding: 120px 5%;
}

/**seccion home**/
.home {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(
        to right,
        #EBE3CC 0%,
        #EBE3CC 70%,
        #062D3E 50%,
        #062D3E 100%
    );
}

.home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(imagenes/Group.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 125% center;
    pointer-events: none; /*especifica que mis modificaciones no deben afectar a los eventos del mouse*/
}

.home::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(imagenes/perro.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 90% center;
    pointer-events: none;
}

.home-text h1{
    text-align: center;
    font-size: 65px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

.home-text h1:nth-child(4) {
    color: #FBBD08;
}

.home-shortcuts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.home-shortcuts h4{
    color: #189CAB;
    font-size: 24px;
}

.home-shortcuts a{
    font-size: 24px;
    color: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
    border-style: solid;
    border-width: 3px;
    background-color: #ED5C01;
    border-color: #ED5C01;
    padding: 10px;
}

/**pet friends seccion**/
.friends{
    background-color: #ED5C01;
    position: relative;
}

.container_left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.collar{
    position: absolute;
    top:0;
    left: 0;
}

.users{
    position: absolute;
    top: 10px;
    left: 75px;
}

.container_right {
    display: flex;
    align-items: center;
}

.people {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top:30px;
    left: 35%;
}

.pet_friends{
    position: absolute;
    top:3;
    left: 43%;
}

.people_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;

}

.row1 {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 30px;;
    left: 60%;
}

.row {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 55%;;
    left: 60%;
}

.row1 a:not(:last-child) {
    margin-right: 25px; 
}

.row a:not(:last-child) {
    margin-right: 25px; 
}

/**about the**/
.about{
    background-color: #189CAB;
    padding-top: 3%;
    padding-right: 20%;
    padding-left: 20%;
    position: relative; 
}

.spiral{
    position: absolute;
    left: 0;
    margin-top: 20%;
}

.union{
    position: relative;
    right: 10%;
}

.about_the, .info {
    display: inline-block;
    vertical-align: top;
}

.about_the h1{
    position: relative;
    font-size: 50px;
    margin-bottom: 4%;
    right: 25%;
    letter-spacing: 2px;
    font-weight: bold;
    color: #EBE3CC;
}

.info {
    position: absolute;
    top: 12%;
    right: 0;
    width: 80;
    margin-right: 6%;
}

.info h1{
    position: relative;
    font-size: 40px;
    color:#EBE3CC;
    margin-top: 2%;
    margin-bottom: 3%;
    float: right;
    text-align: center;
}

.more{
    position: absolute;
    top: 30%;
    right: 0;
    width: 80;
    margin-left: 20%; 
    margin-right: 3%;
}

.more p{
    position: relative;
    font-size: 23px;
    color:#EBE3CC;
    margin-top: 2%;
    margin-bottom: 3%;
    float: right;
    text-align: justify;
    line-height: 1.8;
}

.more a{
    font-size: 20px;
    color: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
    border-style: solid;
    border-width: 3px;
    background-color:#062D3E;
    border-color: #062D3E;
    padding: 10px;
    margin-top: 5%;
    margin-right: 65%;
    float: right;
}

.claw{
    position: absolute;
    bottom: 0;
    right: 0;
}

/*sección services*/

.services h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#062D3E;
    font-size: 35px;
}
.about-services{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 60px 0;
    gap: 60px;
}

.about-caretakers, .about-dog-walkers{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: justify;
    gap: 20px;
    padding: 0 20px;
    width: 500px;
    height: 300px;
    border-radius: 20px 20px 20px 20px;
    border-style: solid;
    transition: 0.5s ease-in-out;
}

.about-dog-walkers{
    background-color: #FBBD08;
}

.about-caretakers{
    border-color: #FBBD08;
    border-width: 3px;
}
.about-caretakers img, .about-dog-walkers img{
    width: 80px;
    height: 80px;
    border-radius: 30px 30px 30px 30px;
    border-style: solid;
    padding: 20px 20px 20px 20px;
}

.about-caretakers img{
    background-color: #FBBD08;
}

.about-dog-walkers img{
    background-color: #EBE3CC;
}

.service-icon{
    display: flex;
    align-items: center;
}

.service-icon span{
    color:#062D3E;
    font-size: 1.1rem;
    font-weight: 600;
    padding-left: 10%;
}

.about-caretakers a{
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-color: #062D3E;
    border-width: 2px;
    color: #062D3E;
    padding: 20px;
}

.about-dog-walkers a{
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    background: #062D3E;
    color: #FFFFFF;
    padding: 20px;
}

/*reseñas*/
.reviews{
    height: 100vh;
    width: 100%;
    position: relative;
    
}

.reviews h1{
    text-align: center;
    padding-top: 20px;
    font-size: 40px;
    color: #062D3E;
}

.review-slide-row{
    display: flex;
    width: 3200px;
    transition: 0.45s;
}

.slide-column{
    width: 800px;
    height: 400px;
    position: relative;
}

.user-img{
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}

.user-img img{
    height: 100%;
    border-radius: 20px;
    border-color: #000000;
    border-width: 3px;
    border-style: dashed;
}
.user-text{
    background: #FBBD08;
    width: 520px;
    height: 270px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    color: #062D3E;
    padding: 45px;
    box-sizing: border-box;
    z-index: 2;
}

.user-text p{
    font-size: 18px;
    line-height: 24px;
}

.user-text h3{
    margin: 35px 0 5px;
    color: #FFFFFF;
    font-weight: bold;
}

.reviews-container{
    width: 800px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scroll-button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -50px;
}

.btn{
    display: inline-block;
    height: 25px;
    width: 25px;
    margin: 4px;
    border-radius: 15px;
    background: #FFFFFF;
    cursor: pointer;
}

.active{
    width: 45px;
}

.testimonials{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/*sección sing-up*/
.sing-up {
    display: flex;
    padding: 0;
    width: auto;
    height: 300px;
}

.container_dog {
    flex: 1;
    bottom: 0;
    padding-bottom: 0;
    padding-top: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    max-width: 50%;
    position: relative;
}

.container_dog a {
    display: flex;
    align-items: flex-end;
}

.dog img{
    width: 200%;
    height: auto;
}

.dog1 img{
    width: 120%;
    height: auto;
}

.dog2 img{
    width: 80%;
    height: auto;
}

.container_dog a:not(:last-child) {
    margin-right: 15px; 
    margin-left: 40px; 
}

.yellow-bg {
    background-color: #FBBD08;
}

.register {
    flex: 1;
}

.register h3{
    position: relative;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: bold;
    color: #062D3E;
    top: 30px;
    margin-left: 10%;
    line-height: 2; 
}

.register a{
    position: absolute;
    font-size: 15px;
    color: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
    border-style: solid;
    border-width: 3px;
    background-color:#062D3E;
    border-color: #062D3E;
    padding: 10px;
    margin-top: 3%;
    margin-left: 5%;
    float: right;
}

.orange-bg {
    background-color: #ED5C01;
}

/*footer section*/
footer{
    position: relative;
    width: 100%;
    background-color: #062D3E;
    min-height: 100px;
    padding: 10px 0px 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.social_icons, .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.social_icons li a{
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

.social_icons li a:hover{
    transform: translateY(-10px);
}

.menu li a{
    color: #EBE3CC;
    margin: 0 10px;
    display: inline-block;
    opacity: 0.75;
}

.menu li a:hover{
    opacity: 1;
}

footer h4{
    color: #EBE3CC;
}

.wave{
    margin-top: 20px;
    position: absolute;
    top: -80px;
    left: 0;
    width: 100%;
    height: 60px;
    background: url(imagenes/wave.png);
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 10px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}

@keyframes animateWave_02 {
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}

/*responsive*/
@media (max-width: 1394px) {
    header{
        padding: 14px 2%;
        transition: .2s;
    }
}

@media (max-width: 1310px) {
    .union img{
        display: none;
    }

    .about{
        width: auto;
        height: 700px;
    }

    .about_the h1{
        display: none;
    }
}

@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }

    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
        border: none;
    }

    .home::before,
    .home::after {
        display: none;
    }

    .home{
        background: none;
    }

    .union img{
        display: none;
    }

    .about{
        width: auto;
        height: 500px;
    }
}

@media (max-width: 1090px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 29vh;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }

    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
        
    }

    .navbar a:hover{
        color: var(--text-color);
        transform: translateY(5px);
    }

    .navbar a.active{
        color: var(--text-color);
    }

    .navbar.open{
        right: 2%;
    }

    .main a{
        border: none;
        padding: 0px;
    }

    .home::before,
    .home::after {
        display: none;
    }

    .home{
        background-color: var(--bg-color);
    } 
}

@media (max-width: 656px){
    .home{
        padding: 5px 5px; 
    }

    .logo img{
        display: none;
    }

    .home-text h1{
        font-size: 55px;
    }

    .home-shortcuts h4{
        font-size: 20px;
    }
    .home-shortcuts a{
        font-size: 20px;
    }

    .user-img img{
        display: none;
    }

    .reviews-container{
        width: 100%;
        height: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .reviews-container p{
        font-size: 14px;
    }
    .user-text{
        width: 55%;
    }
    .scroll-button{
        bottom: 50px;
    }
    .about{
        height: 700px;
    }
}

@media (max-width: 800px){
    .more br {
        display: none;
    }
    .more{
        position: absolute;
        top: 40%;
        right: 0;
        width: 80;
        margin-left: 5%; 
        margin-right: 3%;
    }
}

@media (max-width: 780px){
    .people img{
        display: none;
    }

    .claw img{
        transition: all .50s ease;
    }
}

@media (max-width: 700px){ 
    .pet_friends img{
        display: none;
    }
    .about-caretakers, .about-dog-walkers{
        height: 380px;
    }
    .spiral img {
        transition: all .50s ease;
        display: none;
    }
}

@media (max-width: 1100px){
    .people{
        position: absolute;
        display: flex;
        flex-direction: row;
        left: 50%;
        top: 35%;
        transition: all .50s ease;
    }

    .person1{
        margin-right: 10%;
    }
    .pet_friends{
        position: absolute;
        transition: all .50s ease;
        display: flex;
        left: 70%;
        top: 0;
        margin-left: 5%;
    }

    .people_2{
        display: none;
        transition: all .50s ease;
    }

    .container_dog{
        display: none;
    }
    
    .yellow-bg {
        display: none;
    }

    .register {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px; /* Adjust the padding value as desired */
    }

    .register h3 {
        position: relative;
        font-size: 20px;
        letter-spacing: 3px;
        font-weight: bold;
        color: #062D3E;
        text-align: center;
        margin-bottom: 20px; /* Add margin-bottom for spacing */
    }

    .register a {
        position: relative;
        font-size: 15px;
        color: #FFFFFF;
        border-radius: 20px;
        border-style: solid;
        border-width: 3px;
        background-color: #062D3E;
        border-color: #062D3E;
        padding: 10px;
        align-content: center ;
        text-decoration: none;
    }

    .orange-bg {
        background-color: #ED5C01;
    }
}