*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
}

:root{
    --bg-color: #EBE3CC;
    --text-color: #062D3E;
    --main-color: #FFFFFF;
}

body{
    min-height: 100vh;
    background-color: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;
}

.logo{
    display: flex;
    align-items: center;
}

.logo span{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 600;
}

.navbar{
    display: flex;
}

.navbar a{
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0px 30px;
    transition: all .50s ease;
}

.navbar a:hover{
    color: var(--main-color);
}

.navbar a.active{
    color: var(--main-color);
}

.main{
    display: flex;
    align-items: center;
}

.main a{
    margin-right: 25px;
    margin-left: 10px;
    color: #FFFFFF;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all .50s ease;
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #FFFFFF;
    padding: 10px;
}

.user{
    display: flex;
    align-items: center;
}

.user i{
    color: var(--main-color);
    font-size: 28px;
    margin-right: 7px;
}

.main a:hover{
    color: var(--main-color);
}

#menu-icon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
}

section{
    padding: 120px 19%;
}

.home {
    position: relative;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: linear-gradient(
        to right,
        #EBE3CC 0%,
        #EBE3CC 70%,
        #062D3E 50%,
        #062D3E 100%
    );
  }

  .home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(imagenes/Group.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 125% center;
  }
  
  .home::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(imagenes/perro.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 90% center;
  }

.home-text h1{
    text-align: center;
    font-size: 65px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

.home-text h1:nth-child(4) {
    color: #FBBD08;
}

.home-atajos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.home-atajos h4{
    color: #189CAB;
    font-size: 24px;
}

.home-atajos a{
    font-size: 24px;
    color: #FFFFFF;
    border-radius: 20px 20px 20px 20px;
    border-style: solid;
    border-width: 3px;
    background-color: #ED5C01;
    border-color: #ED5C01;
    padding: 10px;
}

@media (max-width: 1280px){
    header{
        padding: 14px 2%;
        transition: .2s;
    }

    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
        border: none;
    }

    .home::before,
    .home::after {
        display: none;
    }

    .home{
        background: none;
    }
}

@media (max-width: 1090px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 270px;
        height: 29vh;
        background: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }

    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        transition: all .50s ease;
        
    }

    .navbar a:hover{
        color: var(--text-color);
        transform: translateY(5px);
    }

    .navbar a.active{
        color: var(--text-color);
    }

    .navbar.open{
        right: 2%;
    }

    .main a{
        border: none;
        padding: 0px;
    }

    .home::before,
    .home::after {
        display: none;
    }

    .home{
        background-color: var(--bg-color);
    }
}

@media (max-width: 656px){
    .home{
        padding: 5px 0;
    }
}
